.button {
  max-height: 49px;
  padding: 4px 32px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--blue-color);

  color: var(--gray-color);
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  transition-duration: var(--transition-duration);

  @include hover {
    background-color: var(--pink-color);
    color: var(--black-color);
  }

  &--transparent {
    color: var(--blue-color);
    background-color: transparent;
    border: 1px solid var(--blue-color);
    font-size: 24px;
    line-height: 1;
    padding: 12px 8px;

    @include hover {
      background-color: var(--blue-color);
      color: var(--white-color);
    }
  }

  &--svg {
    @include flex-center;

    color: var(--black-color);
    background-color: transparent;
    border: none;
    padding: 0;
    min-width: 44px;
    aspect-ratio: 1;

    @include hover {
      color: var(--pink-color);
      background-color: transparent;
    }
  }
}

a.button {
  @include reset-link;
  color: var(--gray-color);

  &--svg {
    @include flex-center;

    color: var(--black-color);
    background-color: transparent;
    border: none;
    padding: 0;
    min-width: 44px;
    aspect-ratio: 1;

    @include hover {
      color: var(--pink-color);
      background-color: transparent;
    }
  }
}