.header {
  display: flex;
  column-gap: 93px;
  align-items: center;
  justify-content: center;
  padding-block: 27px 16px;
  background: linear-gradient(to bottom, #BCB5B50F, #5653530F);
  width: 100%;

  &__menu {
    &-list {
      display: flex;
      column-gap: 32px;
    }

    &-item {
      transition-duration: var(--transition-duration);

      &.is-selected {
        .header__menu-link::after {
          background-color: var(--blue-color);
          width: 100%;
        }
      }
    }

    &-link {
      @include reset-link;
      position: relative;
      display: inline-flex;
      align-items: center;
      color: var(--dark-gray-color);
      transition-duration: var(--transition-duration);

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: var(--pink-color);
        transition-duration: inherit;
      }
    }
  }
}