:root {
  --desktop-width: 1440px;
  --transition-duration: 0.2s;

  --font-family: Raleway, sans-serif;
  --font-size: 24px;

  --border-radius: 8px;

  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --blue-color: rgb(0, 20, 124);
  --pink-color: rgb(255, 0, 138);
  --gray-color: rgb(220, 208, 203);
  --dark-gray-color: rgb(113, 92, 84);
}