.admin {
  @include flex-center;
  background: url('/src/images/main-bg.png') center / cover no-repeat;
  width: 100%;
  flex: 1;

  &__inner {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: var(--border-radius);
  }

  &__actions {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &-button {
      width: 100%;
    }
  }
}