.admin {
  @include flex-center;
  background: url('/src/images/main-bg.png') center / cover no-repeat;
  width: 100%;
  flex: 1;

  &__inner {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: var(--border-radius);
  }

  &__actions {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &-button {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;

      input {
        width: 70%;
      }
    }
  }

  &__output {
    &-title {
      text-align: center;
    }
  }
}