.order-info {
  @include flex-center;
  flex: 1;
  width: 100%;
  background: url(/src/images/main-bg.png) center / cover no-repeat;
  padding: 30px;

  &__inner {
    background-color: var(--white-color);
    padding: 22px 33px;
    border-radius: 40px;
    min-width: 900px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 76px;
    padding-bottom: 18px;
    border-bottom: 3px solid var(--black-color);
    margin-bottom: 18px;
  }

  &__title {
    font-size: 34px;
  }

  &__body {
    margin-bottom: 200px;


    &-list {
      display: flex;
      flex-direction: column;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
  }

  &__price {
    color: var(--blue-color);
    font-size: 34px;
    font-weight: 700;
  }
}