@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями
   */
img {
  display: block;
  max-width: 100%;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Плавный скролл
     */
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
    Приводим к единому цвету svg-элементы
   */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --desktop-width: 1440px;
  --transition-duration: 0.2s;
  --font-family: Raleway, sans-serif;
  --font-size: 24px;
  --border-radius: 8px;
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --blue-color: rgb(0, 20, 124);
  --pink-color: rgb(255, 0, 138);
  --gray-color: rgb(220, 208, 203);
  --dark-gray-color: rgb(113, 92, 84);
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.container {
  max-width: var(--desktop-width);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button {
  max-height: 49px;
  padding: 4px 32px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--blue-color);
  color: var(--gray-color);
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--pink-color);
    color: var(--black-color);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--pink-color);
    color: var(--black-color);
  }
}
.button--transparent {
  color: var(--blue-color);
  background-color: transparent;
  border: 1px solid var(--blue-color);
  font-size: 24px;
  line-height: 1;
  padding: 12px 8px;
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--blue-color);
    color: var(--white-color);
  }
}
.button--svg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 44px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  .button--svg:hover {
    color: var(--pink-color);
    background-color: transparent;
  }
}
@media (hover: none) {
  .button--svg:active {
    color: var(--pink-color);
    background-color: transparent;
  }
}

a.button {
  color: inherit;
  color: var(--gray-color);
}
a.button, a.button:hover {
  text-decoration: none;
}
a.button--svg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 44px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  a.button--svg:hover {
    color: var(--pink-color);
    background-color: transparent;
  }
}
@media (hover: none) {
  a.button--svg:active {
    color: var(--pink-color);
    background-color: transparent;
  }
}

.banner {
  background: url("/src/images/main-bg.png") center/cover no-repeat;
}
.banner__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  text-align: center;
  margin-inline: auto;
  padding-block: 268px 290px;
}
.banner__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 50%);
}
.banner__title {
  color: var(--gray-color);
  font-size: 64px;
  z-index: 1;
}
.banner__button {
  scale: 1.5;
  z-index: 1;
}

.header {
  display: flex;
  -moz-column-gap: 93px;
       column-gap: 93px;
  align-items: center;
  justify-content: center;
  padding-block: 27px 16px;
  background: linear-gradient(to bottom, rgba(188, 181, 181, 0.0588235294), rgba(86, 83, 83, 0.0588235294));
  width: 100%;
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header__menu-item {
  transition-duration: var(--transition-duration);
}
.header__menu-item.is-selected .header__menu-link::after {
  background-color: var(--blue-color);
  width: 100%;
}
.header__menu-link {
  color: inherit;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--dark-gray-color);
  transition-duration: var(--transition-duration);
}
.header__menu-link, .header__menu-link:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--pink-color);
  transition-duration: inherit;
}

.line {
  padding-block: 64px;
  text-align: center;
}
.line__title {
  font-size: 42px;
  color: var(--blue-color);
}
.line__title:not(:last-child) {
  margin-bottom: 15px;
}
.line__description {
  font-weight: 500;
  color: var(--dark-gray-color);
}
.line__description:not(:last-child) {
  margin-bottom: 48px;
}
.line__list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.line__list-item {
  flex-shrink: 0;
  box-shadow: 6px 6px 15px var(--dark-gray-color);
}

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 157px;
}
.products__actions {
  position: absolute;
  right: 38px;
  top: 38px;
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.products__actions-favorite svg, .products__actions-cart svg {
  transition-duration: var(--transition-duration);
  color: var(--black-color);
}
@media (hover: hover) {
  .products__actions-favorite svg:hover, .products__actions-cart svg:hover {
    color: var(--pink-color);
  }
}
@media (hover: none) {
  .products__actions-favorite svg:active, .products__actions-cart svg:active {
    color: var(--pink-color);
  }
}

.footer {
  max-height: 408px;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 230px 85px 90px;
  margin-top: auto;
  background: url("/src/images/footer-bg.svg") left/cover no-repeat;
  color: var(--gray-color);
}
.footer__body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer__description {
  font-weight: 700;
  max-width: 389px;
}
.footer__about-us-title, .footer__support-title {
  color: var(--white-color);
  font-weight: 500;
}
.footer__about-us-link, .footer__support-link {
  color: inherit;
  transition-duration: var(--transition-duration);
}
.footer__about-us-link, .footer__about-us-link:hover, .footer__support-link, .footer__support-link:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .footer__about-us-link:hover, .footer__support-link:hover {
    color: var(--pink-color);
  }
}
@media (hover: none) {
  .footer__about-us-link:active, .footer__support-link:active {
    color: var(--pink-color);
  }
}

.discount-banner {
  background: url("/src/images/main-bg.png") center/cover no-repeat;
}
.discount-banner__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  text-align: center;
  margin-inline: auto;
  padding-block: 210px;
}
.discount-banner__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.discount-banner__title {
  color: var(--gray-color);
  font-size: 48px;
  z-index: 1;
}
.discount-banner__title-amount {
  font-size: 64px;
  border-bottom: 4px solid var(--pink-color);
  margin-right: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.search-form__input {
  width: 600px;
  height: 50px;
  padding-inline: 10px;
  border: 2px solid var(--blue-color);
  border-radius: var(--border-radius);
}
.search-form__button {
  height: 50px;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  row-gap: 83px;
  padding: 58px 168px;
}
.catalog-products__body {
  display: flex;
  flex-direction: column;
  row-gap: 78px;
}
.catalog-products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-products__actions {
  display: flex;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.catalog-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 32px;
  justify-content: space-between;
}

.product-item {
  display: grid;
  grid-template-areas: "image image image" "name name price" "favorite cart cart";
  align-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
  color: var(--blue-color);
  max-width: 346px;
  padding: 24px 17px;
  border: 1px solid var(--blue-color);
  border-radius: var(--border-radius);
}
.product-item__link {
  grid-area: image;
}
.product-item__image {
  border: 1px solid var(--blue-color);
  border-radius: var(--border-radius);
}
.product-item__name {
  grid-area: name;
  font-size: 20px;
}
.product-item__price {
  grid-area: price;
  font-size: 32px;
  font-weight: 700;
}
.product-item__favorite-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  grid-area: favorite;
  color: currentColor;
}
@media (hover: hover) {
  .product-item__favorite-button:hover {
    background-color: transparent;
    color: var(--pink-color);
  }
}
@media (hover: none) {
  .product-item__favorite-button:active {
    background-color: transparent;
    color: var(--pink-color);
  }
}
.product-item__favorite-button.in-favorite {
  color: var(--pink-color);
}
.product-item__cart-button {
  grid-area: cart;
  padding: 0;
  height: 53px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination__list {
  display: flex;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.pagination__item {
  list-style: none;
}
.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 44px;
  padding: 8px 16px;
}
.pagination__button:not(.pagination__button--selected, .pagination__button--next) {
  color: var(--black-color);
  border: 1px solid var(--blue-color);
  background-color: transparent;
}
@media (hover: hover) {
  .pagination__button:not(.pagination__button--selected, .pagination__button--next):hover {
    background-color: var(--black-color);
    color: var(--white-color);
    border-color: var(--black-color);
  }
}
@media (hover: none) {
  .pagination__button:not(.pagination__button--selected, .pagination__button--next):active {
    background-color: var(--black-color);
    color: var(--white-color);
    border-color: var(--black-color);
  }
}
.pagination__button--next {
  width: 87px;
}

.signin {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  padding-block: 64px;
  width: 100%;
  background: url("/src/images/main-bg.png") center/cover no-repeat;
}
.signin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.signin__title {
  font-size: 42px;
  color: var(--pink-color);
  text-align: center;
  margin-bottom: 45px;
  z-index: 1;
}
.signin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
  width: 544px;
}
.signin__form-link, .signin__form-label, .signin__form-input, .signin__form-button {
  z-index: 1;
}
.signin__form-input {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 6px 12px;
}
.signin__form-input::-moz-placeholder {
  color: var(--dark-gray-color);
}
.signin__form-input::placeholder {
  color: var(--dark-gray-color);
}
.signin__form-link {
  align-self: start;
}
.signin__form-link {
  color: inherit;
  color: var(--pink-color);
  margin-bottom: 31px;
  padding-left: 10px;
}
.signin__form-link, .signin__form-link:hover {
  text-decoration: none;
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background: url(/src/images/main-bg.png) center/cover no-repeat;
  padding: 30px;
}
.product-info__inner {
  background-color: var(--white-color);
  padding: 22px 33px;
  border-radius: 40px;
}
.product-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 76px;
       column-gap: 76px;
  padding-bottom: 18px;
  border-bottom: 3px solid var(--black-color);
  margin-bottom: 36px;
}
.product-info__title {
  font-size: 34px;
}
.product-info__body {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 27px;
       column-gap: 27px;
  row-gap: 39px;
  margin-bottom: 200px;
}
.product-info__image {
  border: 1px solid var(--blue-color);
  border-radius: var(--border-radius);
}
.product-info__extra {
  order: 1;
}
.product-info__description {
  width: 465px;
}
.product-info__footer {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.product-info__price {
  font-size: 64px;
  font-weight: 700;
}
.product-info__favorite-button {
  margin-left: auto;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background: url(/src/images/main-bg.png) center/cover no-repeat;
  padding: 30px;
}
.cart__inner {
  background-color: var(--white-color);
  padding: 22px 33px;
  border-radius: 40px;
  min-width: 900px;
}
.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 76px;
       column-gap: 76px;
  padding-bottom: 18px;
  border-bottom: 3px solid var(--black-color);
  margin-bottom: 18px;
}
.cart__title {
  font-size: 34px;
}
.cart__body {
  margin-bottom: 200px;
}
.cart__body-list {
  display: flex;
  flex-direction: column;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.cart__price {
  color: var(--blue-color);
  font-size: 34px;
  font-weight: 700;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--black-color);
}
.item:not(:last-child) {
  margin-bottom: 7px;
}
.item__add-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.item__delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.item__image {
  border-radius: var(--border-radius);
  border: 1px solid var(--black-color);
}
.item__price {
  font-size: 34px;
  font-weight: 700;
  margin-left: auto;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background: url(/src/images/main-bg.png) center/cover no-repeat;
  padding: 30px;
}
.favorite__inner {
  background-color: var(--white-color);
  padding: 22px 33px;
  border-radius: 40px;
  min-width: 900px;
}
.favorite__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 76px;
       column-gap: 76px;
  padding-bottom: 18px;
  border-bottom: 3px solid var(--black-color);
  margin-bottom: 18px;
}
.favorite__title {
  color: var(--pink-color);
  font-size: 34px;
}
.favorite__body {
  margin-bottom: 200px;
}
.favorite__body-list {
  display: flex;
  flex-direction: column;
}
.favorite__count {
  color: var(--pink-color);
  font-size: 34px;
  font-weight: 700;
}

.orders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background: url(/src/images/main-bg.png) center/cover no-repeat;
  padding: 30px;
}
.orders__inner {
  background-color: var(--white-color);
  padding: 22px 33px;
  border-radius: 40px;
  min-width: 900px;
}
.orders__header {
  -moz-column-gap: 76px;
       column-gap: 76px;
  padding-bottom: 18px;
  border-bottom: 3px solid var(--black-color);
  margin-bottom: 18px;
}
.orders__title {
  font-size: 34px;
}
.orders__body {
  margin-bottom: 200px;
}
.orders__body-list {
  display: flex;
  flex-direction: column;
}
.orders__count {
  font-size: 34px;
  font-weight: 700;
}

.order-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background: url(/src/images/main-bg.png) center/cover no-repeat;
  padding: 30px;
}
.order-info__inner {
  background-color: var(--white-color);
  padding: 22px 33px;
  border-radius: 40px;
  min-width: 900px;
}
.order-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 76px;
       column-gap: 76px;
  padding-bottom: 18px;
  border-bottom: 3px solid var(--black-color);
  margin-bottom: 18px;
}
.order-info__title {
  font-size: 34px;
}
.order-info__body {
  margin-bottom: 200px;
}
.order-info__body-list {
  display: flex;
  flex-direction: column;
}
.order-info__footer {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.order-info__price {
  color: var(--blue-color);
  font-size: 34px;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */